:root { 
--indigo_A200_26:#6271eb26; 
--red_600:#e23434; 
--gray_900_ab:#181a26ab; 
--gray_500_3f:#93989a3f; 
--indigo_A200:#6271eb; 
--gray_400_4c:#cacaca4c; 
--green_600:#42a846; 
--gray_50:#f6f8f9; 
--black_900:#010101; 
--white_A700_ab:#ffffffab; 
--gray_500_66:#93989a66; 
--gray_400_33:#cacaca33; 
--indigo_A200_54:#6170eb54; 
--gray_400:#b7babc; 
--gray_900_26:#130c1a26; 
--gray_500:#93989a; 
--gray_902:#15161d; 
--white_A700_a2:#ffffffa2; 
--gray_400_3f:#cacaca3f; 
--gray_900:#181a26; 
--gray_900_67:#15161d67; 
--gray_300:#dbdddd; 
--gray_100:#f3f3f3; 
--black_900_33:#00000033; 
--gray_500_ab:#93989aab; 
--gray_900_5f:#15161d5f; 
--white_A700:#ffffff; 
}